*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 2px solid red;
    margin: 200px auto;
    height: 400px;
}